<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jeu de roles</title>

    <style>

        body{
            text-align: center;
            background: url("img/porte.jpg") no-repeat;
            background-size: cover;
        }
        #contenu{
            width: 50%;
            margin: auto;
            background-color: rgba(248, 248, 248, .7);
            padding: 3%;
        }
    
    </style>
</head>

<body>

    <div id="contenu">

        <h1>Choix du personnage</h1>

        <h3>Voici la liste des différents personnages disponibles.</h3>

        <script type="text/javascript" src="jdr.js"></script>

        <h3>Vous avez choisi ? Alors cliquez sur le bouton ci dessous pour selectionner votre personnage et commencer la partie.</h3>
        <a href="combat.html"><button type="button" style="padding: 20px">Commencer la partie !</button></a>

    </div>
</body>

</html>